$background: #f8f9fa;
@import 'chartist/dist/scss/chartist.scss';
.ct-chart {
    background-color: #e9ecef;
    border: 1px solid #868e96;
    margin: 2rem auto;
}
.ct-series-b .ct-bar {
    stroke: #74c0fc;
    stroke-width: 2rem;
}

.ct-series-a .ct-bar {
    stroke: #364fc7;
    stroke-width: 2rem;
}

@import '~bulma/bulma';
