$background: #f8f9fa;

$ct-bar-width: 1.382rem !default;
$ct-series-colors: (#364fc7, #74c0fc, #f4c63d, #d17905, #453d3f, #59922b, #0544d3, #6b0392, #f05b4f, #dda458, #eacf7d, #86797d, #b2c326, #6188e2, #a748ca) !default;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;
}

.ct-chart {
    @include border-radius(9px);
    background-color: #f1f3f5;
    border: 1px solid #dee2e6;
}
@import 'chartist/dist/scss/chartist.scss';
@import '~bulma/bulma';
